// Variables

$bold: 900;
$letter_spacing: 0.1rem;

.font1 {
    font-size: 2rem;
    letter-spacing: 0.5px;
}

.font2 {
    font-size: 1rem;
}

.font2-white {
    font-size: 1.3rem;
    color: white;
}

.font3-white {
    font-size: 1rem;
    color: white;
}

.font3 {
    color: white;
}

.font4 {
    font-size: 0.8rem;
    color: #b3b3b3;
}

.blackfont {
    color: #202020;
}

.greyfont {
    color: #b3b3b3;
}

.right-fonts {
    font-size: 2.2rem;
}

.under_line{
border-bottom: 0.5px solid#202020;
}