.container{
    position: relative;
  
    .signup_section{
     
   
        .forget_password_disc{
            p{
                border-top: 1px solid $blue_color;
                margin-top: 0.5rem;
                padding: 0.5rem;
            }
        }
    }
}  
