@import "mixin";
.form_heading_buttons {
    padding: 1rem;
    background-color: $bgColor;
    display: flex;
    justify-content: space-between;
    .preview_submit_cancel_btn {
        display: flex;
        justify-content: center;
        & :nth-child(1) {
            background-color: $secondryColor;
        }
        & :nth-child(2) {
            background-color: $primaryColor;
        }
        button {
            @include button;
            color: white;
            margin: 0.5rem;
            border: none;
            background-color: $primaryColor_2;
            border-radius: 0.7rem;
        }
    }

    .dragging_item_div__heading {
        // width: 100%;
        background-color: $bgColor;
        color: $primaryColor;
        p {
            color: $primaryColor_2;
        }
        //  height: 268px;
    }
}
.dragging_item_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: $secondryColor;
    position: sticky;
    top: 0px;

    .inputs {
        display: flex;

        // flex-direction: column;
        // height: 15rem;

        .input {
            display: flex;
            justify-content: center;
            text-align: center;
            height: 100%;
            width: 100%;
            background-color: rgb(255, 255, 255);
            position: relative;
            

            .input-elements {
                // height: 100%;
                width: 50%;
                display: flex;
                justify-content: center;
                background-color: black;
                padding: 1rem;

                section {
                    margin-top: 1rem;
                    border: 0.1px solid black;
                    height: 5rem;
                    width: 8rem;
                    background-color: $bgColor;
                    cursor: grab;
                    background-color: $bgColor;
                    border: 2px solid $secondryColor;

                    p {
                        margin: 3rem;
                    }
                }
            }
            .fa-image {
                position: absolute;
                left: 23%;
                top: 35%;
            }
            .fa-pen-to-square {
                position: absolute;
                left: 73%;
                top: 35%;
            }
            .fa-circle-dot{
                position: absolute;
                left: 23%;
                top: 35%;
            }
            .fa-square-check{
                position: absolute;
                left: 73%;
                top: 35%;
            }
        }
    }

    .body-selection {
        @include flex-col;
        // @include center;
        // @include center;
        // @include flex-col;
        // border: 2px solid rgb(0, 0, 0);
        height: 7rem;
        width: 100%;
        justify-content: space-around;
        background-color: $bgColor;

        .background-selection {
            display: flex;
            flex-direction: row;
            justify-content: center;
            .color_box {
                margin: 2%;
                margin-top: 5%;
                height: 1.2rem;
                width: 1.2rem;
            }

            button {
                width: 9rem;
                height: 3rem;
                text-align: center;
                // border: 1px solid;
            }
            .margin-top {
                margin-top: 4%;
            }
        }
    }

    .fo-selection {
        @extend .body-selection;

        .footer-selection {
            @extend .background-selection;
        }
    }
}

.blue_font {
    color: blue;
    font-size: 1.5rem;
}
